.speech{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;
    color: black;
    text-indent: 15px;
}
.song{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: black;
    text-indent: 20px;

}
.direction{
    font-style: oblique;
    font-size: 10px;
    color: black;
    background-color:darkorange;
}
.direction.hover{
    color: deeppink;
    background-color: darkorange;
}
.ALL{
    font-style: italic;
    color: deeppink;
    background-color: darkblue;
}
.MAR{
    font-family: monospace;
    color:darkblue;
    background-color: darkorange;
}
.GIU{
    font-family: sans-serif;
    color: darkgreen;
    background-color: crimson;
}
.GIU:hover{
    text-shadow: 2px 3px 4px darkorchid;
    border: 3px dashed chocolate;
}
.MAR:hover{
    text-shadow: 3px 4px 5px dodgerblue;
    border: 3px dashed chocolate;
}
.ALL:hover{
    text-shadow: 4px 5px 6px cornflowerblue;
    border: 3px dashed chocolate;
    
}
.Table{
    border: solid darkred 4px;
    border-collapse:collapse ;
    margin: 3%;
    background-color: black;
    color:deeppink;
    padding: 1%;
    border-spacing: 2px;
    text-align: center;
}

tr,th,td{
    border: solid 4px blue;
    margin: 1px 1px;
    padding: 10px;
}
th{
    font-size: medium;
    font-weight: bolder;
}
td{
    font-size: medium;
}
tr:nth-child(even){
    background-color: mintcream;
    background-color:aliceblue ;
}
tr:nth-child(odd){
    background-color: chartreuse;
    background-color: darkgreen;
}
a{
    border: 6px;
}
.navbar-horizontal{
    list-style-type: none;
    background-color:aquamarine;
    padding: 30px;
}
li a,i{
    float: left;
    padding: 5px;
}

