.speech{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;
    color: black;
    text-indent: 15px;
}
.song{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: black;
    text-indent: 20px;

}
.direction{
    font-style: oblique;
    font-size: 10px;
    color: black;
    background-color:darkorange;
}
.direction.hover{
    color: deeppink;
    background-color: darkorange;
}
.ALL{
    font-style: italic;
    color: deeppink;
    background-color: darkblue;
}
.MAR{
    font-family: monospace;
    color:darkblue;
    background-color: darkorange;
}
.GIU{
    font-family: sans-serif;
    color: darkgreen;
    background-color: crimson;
}
.GIU:hover{
    text-shadow: 2px 3px 4px darkorchid;
}
.MAR:hover{
    text-shadow: 3px 4px 5px dodgerblue;
}
.ALL:hover{
    text-shadow: 4px 5px 6px cornflowerblue;
}
.Table{
    border: solid darkred 7px;
    margin: 3%;
    background-color: black;
    color: darkorange;
    padding: 1%;
    border-spacing: 2px;
    text-align: center;
}

tr,th,td{
    border: solid 4px blue;
    margin: 1px 1px;
}
